.bor{
    border-radius: 10px;
}
.cr-color{
    background-color: rgb(223, 132, 132);
    border-radius: 70%;
}
.star{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.star-color{
    color: rgb(255, 189, 7);
}
.half{
    width: 20px;
}
footer{
    width: 100%;
    height: 12rem;
    background-color: rgb(13, 13, 70);
}

@media screen and (max-width: 576px){
        .gr{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
        }
}